body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
}

h1{
    margin: 0px;
    padding: 0px;
}

h4{
    margin: 0px;
    padding: 0px;
}

.title{
    margin: 0px;
    padding: 30px 0px;
    text-align: center;
    background-color: rgb(85, 0, 0);
    color: white;
}

.content{
    margin: 0px;
    padding: 0px 20px;
}

.bold{
    font-weight: 700;
}

.ital{
    font-style: italic;
}

.flex-img{
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.flex-img-child{
    margin-top: 10px;
}

.img{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(209, 209, 209);
    border-radius: 20px;
}